.container{
    display: flex;
    flex-direction: column;
    justify-content:center;

}
form{
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    justify-content: justify;
    margin-bottom: 50px;
}

label{
    padding-left: 10px;
}

.field-name input{
    margin:10px;
   
    display: inline-block;
}

.field-contact input{
    margin:10px;
   
    display: inline-block;
}

button{
    margin-top: 5px;
    margin-left: 10px; 
}