@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.conteiner h2 {
  margin-top: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: justify;
  margin-bottom: 50px;
}

form p {
  color: red;
}

.field-id input {
  margin: 10px 0;
  background-color: #ccc8;
  color: rgba(0, 0, 0, 0.6);
  width: 50px;
  border-width: 0.5px;
  display: block;
  padding: 0 4px;
}

.field-key input {
  margin: 10px 0;
  display: inline-block;
  padding: 0 4px;
}

.field-name input {
  margin: 10px 0;
  padding: 0 4px;
  display: inline-block;
}

.field-contact input {
  margin: 10px 0;
  padding: 0 4px;
  display: inline-block;
}

button {
  margin-top: 5px;
}

.bt-edit {
  background-color: #198754;
  color: white;
  width: 40px;
  border-radius: 5px;
  padding-bottom: 2px;
  margin: 10px;
}

.bt-delete {
  background-color: rgb(238, 36, 36);
  color: white;
  width: 40px;
  border-radius: 5px;
  padding-bottom: 2px;
}

.bt-close {
  cursor: pointer;
  background-color: white;
  color: crimson;
}

.over-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header button {
  border: none;
}

.modal {
  position: fixed;
  display: block;
  top: auto;
  left: auto;
  width: 400px;
  height: 450px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
  z-index: 1000;
  background-color: aliceblue;
  /* overflow: hidden; */
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
